.crossedOut {
  text-decoration: line-through;
  background-color: red;
}

#AAAgroup {
  background-color: red;
}


.group {
  border: solid black 1px;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
}
